<header class="container-header">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <h3 class="text-black h4">Indicadores</h3>
            <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarToggleExternalContent" 
            aria-controls="navbarToggleExternalContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="">Bienvenido</a>
                    </li>
                </ul>
            </div>                  
        </nav> 
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Seleccione</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of indicators;let i = index">
                        <td class="size">
                            <button (click)="valuesIndicators(data.name)" class="btnInValues btn-sm btn-2" >{{data.name}}</button>
                        </td>
                        <div class="btnInfo_container">
                            <button (click)="detailsIdicator(data.name)" class="btnInDetails btn-sm btn-2" ><img class="imgInfo"  src="../../../assets/info.png" ></button>
                        </div>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</main>
